@charset "UTF-8";

/*fontes importadas*/
/*externa:*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Berkshire+Swash&display=swap');

/*interna:*/
@font-face {
    font-family: 'Idroid'; 
    src: url('fonts/idroid.otf') format('opentype');
    font-weight: normal;
}

/*sempre colocar as cores da paleta aqui na variável root, depois é so usar a cor. ISSO AJUDA MTO, pois se trocar as cores, nao precisa ir em cada declaração, é so mexer no root!*/
:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --font-padrao: Arial, Verdaba, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Idroid', cursive;
}

* {  /*todos os elementos não terão margem nem padding, é mais fácil para editar depois!*/
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--font-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px; /*necessário para responsividade!*/
    text-align: center;
    padding-top: 40px;
    
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.384);
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

header > p {
    font-family: var(--font-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    padding-bottom: 50px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

nav > a {
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition-duration: 0.5s; /*qdo mexer o mouse por cima, leva 0.5 seg de transição.*/

}

nav a:hover {
    background-color: var(--cor3);  /*apesar de parecer que está junto com o cabeçalho, nao está! É que a cor desse é a mesma da primeira cor do header.*/
    color: var(--cor5);
}

main {
    min-width: 300px; /*necessário colocar para que o site fique responsivo.*/
    max-width: 1000px; /*necessário colocar para que o site fique responsivo.*/
    margin: auto; /*necessário colocar para que o site fique responsivo.*/
    margin-bottom: 30px; /*separar do rodape*/
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418); /*se colocar os 0px nos 2 primeiros, ele fica tanto para direita quanto para esquerda.*/
    border-radius: 0px 0px 10px 10px;
    
    font-family: Arial, Helvetica, sans-serif;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-size: 1.8em;
    margin: 5px 0px 5px 0px;
    font-weight: normal;
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent); /*degrade da cor 1 até ficar transparente.*/
    text-indent: 10px;
    font-weight: normal;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em; /*altura entre linhas.*/
}

main strong {
    color: var(--cor4);
    font-weight: bold;
    padding: 2px 6px;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
    border-radius: 3px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

main a::after {
    content: '🔗';
    text-decoration: none;
    font-weight: normal;
}

main img {
    width: 100%; /*necessário colocar para que a imagem fique responsiva.*/
}

main img.pequena { /*só foi criada para diminuir a img, ficou mto grande após tornar o site responsivo.*/
    max-width: 350px;
    display: block; /*necessário para fazer com que a tag img vire um bloco, e que possa ser centralizada na tela.*/
    margin: auto;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%; /*so aparece quando coloca posição absoluta*/
    left: 5%; /*so aparece quando coloca posição absoluta*/
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px; /*cresce para fora da margem!*/
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-position: inside; /*deixar as bolinhas para dentro da caixa.*/
    list-style-type: '\2714\00A0\00A0';/*esse é o código do emoji que substituiu as bolinhas, os 00A0 são espaços depois. Nem sempre funciona para todos os navegadores.*/
    columns: 2; /*dividir a lista*/
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);   
}


